.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  color:#fff;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4e19;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ededed;
  color : #000;

}

/* input:focus + .slider {
  box-shadow: 0 0 1px #ff4e19;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-left: 10px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider.checkround {
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-right: 20px;
}

.slider.checkround:before {
  border-radius: 50%;
}